h1 {
  text-align: center;
}
.attCounter {
  margin: 1rem auto;
  text-align: center;
  font-size: large;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  font-size: 11rem;
  text-align: center;
}

.board-game {
  display: flex;
  flex-wrap: wrap;
  width: 610px;
  margin: 0 auto;
}
.button-container-div {
  text-align: center;
  padding: 2rem;
  /* border: 1px solid coral; */
  /* height: 40vh;
  width: 50vw; */
}
